# Node
node_modules/
coverage/
.nyc_output/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor/OS
.DS_Store
.idea/
.vscode/
*.swp

# Android/Gradle
.gradle/
**/build/
local.properties
.cxx/
*.iml

# PlatformIO
.pio/
.clangd/

# Misc
.env
.env.*